<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>基础项目</display-name>	
  <!-- xss漏洞过滤器 -->
   <filter>
	    <filter-name>AntiXss Filter</filter-name>
	  	<filter-class>com.miapsoft.filter.AntiXssFilter</filter-class>
  	</filter>
  	<filter-mapping>
  		<filter-name>AntiXss Filter</filter-name>
  		<url-pattern>/*</url-pattern>
  		<dispatcher>FORWARD</dispatcher>
  		<dispatcher>REQUEST</dispatcher>
  		<dispatcher>INCLUDE</dispatcher>
  		<dispatcher>ERROR</dispatcher>
  	</filter-mapping> 
    <!-- spring的监听以及配置文件的加载信息 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml,classpath:applicationContext-cxf.xml</param-value>
	</context-param>
	<servlet>
	<!-- springMVC配置加载 -->
	<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
    		<param-name>contextConfigLocation</param-name>
    		<param-value>classpath:spring-servlet.xml</param-value>
    	</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<!-- 配置错误页面--> 
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/view/errors/404.jsp</location>
	</error-page>
</web-app>
